@charset "utf-8";
/*
 * HX
 */
.c-a4 {
  color: #a4a4a4 !important;
}
.c-red {
  color: #fb514b !important;
}
.c-9 {
  color: #999 !important;
}
.c-3 {
  color: #333 !important;
}
.c-f {
  color: #fff !important;
}
.c-yl {
  color: #f28019 !important;
}
.bg-yl {
  background-color: #f28019 !important;
}
.bg-f {
  background-color: #fff !important;
}
.bg-9 {
  background-color: #999 !important;
}
.bg-c2 {
  background-color: #c2c2c2 !important;
}
.p-rel {
  position: relative !important;
}
.p-abs {
  position: absolute !important;
}
.abs-div-center {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.db-center {
  display: block;
  -webkit-display: block;
  margin: 0 auto;
}
.text-hide {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.img-x {
  width: 100%;
  height: auto;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.tc {
  text-align: center !important;
}
.tl {
  text-align: left !important;
}
.tr {
  text-align: right !important;
}
.anime-ease-6 {
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}
.anime-ease-3 {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}
.rotateIn {
  -webkit-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}
