@charset "utf-8";

//外边距
.mg(top,@px){
    margin-top: @px
}
.mg(bottom,@px){
    margin-bottom: @px
}
.mg(right,@px){
    margin-right: @px
}
.mg(left,@px){
    margin-left: @px
}
.mg(@px:0){
    margin: @px
}

//内边距
.pd(top,@px){
    padding-top: @px
}
.pd(bottom,@px){
    padding-bottom: @px
}
.pd(left,@px){
    padding-left: @px
}
.pd(right,@px){
    padding-right: @px
}
.pd(@px:0){
    padding: @px
}

//字体大小
.f-s(@px:20px) {
    font-size: @px
}

//字体粗度
.f-w(@number:500) {
    font-weight: @number
}

//字体类型
.f-f(@type){
    font-family: @type
}

//定位
.pos(@name:relative){
    position: @name
}

//超出部分
.ovr(x,@name:auto){
    overflow-x: @name
}
.ovr(y,@name:auto){
    overflow-y: @name
}
.ovr(@name:hidden){
    overflow: @name
}

//元素转换
.dsp(@div:block){
    display:@div;
    -webkit-display:@div
}

//宽度
.wh(@px){
   width:@px
}

//高度
.hg(@px){
    height:@px
}

//行高
.l-hg(@px){
    line-height:@px
}

//浮动
.f(@type) {
    float: @type
}

//文字对齐方式
.text(@txt:center){
    text-align: @txt
}

//字体颜色
.c(@rgb:#000){
    color: @rgb
}

//背景
.bg(@code){
    background: @code
}

//背景颜色
.bg-c(@rgb:#fff){
    background-color: @rgb
}

//字间距
.let(@px:4px){
    letter-spacing: @px
}

//鼠标样式
.cur(@type:pointer){
    cursor:@type
}

//边框
.br(top,@code){
    border-top: @code;
    -webkit-border-top: @code
}
.br(bottom,@code){
    border-bottom: @code;
    -webkit-border-bottom: @code
}
.br(left,@code){
    border-left: @code;
    -webkit-border-left: @code
}
.br(right,@code){
    border-right: @code;
    -webkit-border-right: @code
}
.br(@code){
    border: @code;
    -webkit-border: @code
}

//边框圆角
.br-rs(@px){
    border-radius: @px;
    -webkit-border-radius: @px
}

//绝对高度
.abs(@px:22px){
    .hg(@px);
    .l-hg(@px);
    .f-s(@px)
}


/*
 * HX
 */

//颜色
.c-a4{
    .c(#a4a4a4)!important
}
.c-red{
    .c(#fb514b)!important
}
.c-9{
    .c(#999)!important
}
.c-3{
    .c(#333)!important
}
.c-f{
    .c(#fff)!important
}
.c-yl{
    .c(#f28019)!important
}
.bg-yl{
    .bg-c(#f28019)!important
}
.bg-f{
    .bg-c(#fff)!important
}
.bg-9{
    .bg-c(#999)!important
}
.bg-c2{
    .bg-c(#c2c2c2)!important
}

//定位
.p-rel{
    .pos()!important
}
.p-abs{
    .pos(absolute)!important
}
    
//定位居中
.abs-div-center{
    .pos(absolute);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    .mg(auto)
}

//块级居中
.db-center{
    .dsp();
    .mg(0 auto)
}

//文字超出部分
.text-hide{
    .ovr();
    white-space: nowrap;
    text-overflow: ellipsis;
}

//图片样式
.img-x{
    .wh(100%);
    .hg(auto)
}

//浮动
.fl{
    .f(left)!important
}

.fr{
    .f(right)!important
}

.tc{
    .text()!important
}

.tl{
    .text(left)!important
}

.tr{
    .text(right)!important
}

//常用动画
.anime-ease-6{
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
}

.anime-ease-3{
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

//放大动画
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
            transform: rotate3d(0, 0, 1, -360deg);
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
            transform: rotate3d(0, 0, 1, -360deg);
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }
}

.rotateIn {

    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -o-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;

}

