@import 'public.less';

//主体
.hx-page{
    .bg-c(#f8f8f8);
    .f-s()
}

.hx-head,.hx-foot{
    .pd();
    .ovr()
}

.hx-foot{
    .hg(100px);
    .bg-c()
}

.hx-cont{
    top:80px;
    bottom: 100px
}

.hx-cont-noTop{
    bottom: 100px;
}

.hx-cont-noBtm{
    top:80px;
}

.hx-pd{
    .pd(0 24px);
    .ovr()
}