<!--引导页3-->
<ion-view ng-init="setDocumentTitle('基本资料');pageName='guide-three'" hide-nav-bar="true">
	
	<ion-content class="guide-cont hx-pd" overflow-scroll="false" scrollbar-y="false" has-bouncing="true">
<!--		 <div class="hg-40 l-hg-40 mg-btm-30 mg-top-20">
		 	<a href="javascript:;" class="fr f-s-12 c-54 hg-40 tc" style="width: 0.4rem;background-color: #F6F6F6;border-radius: 50%;">跳过</a>
		 </div>-->
		 <div class="f-s-16 hg-16 l-hg-16 c-1a f-w-bold mg-btm-20 tc">工作类型</div>
		 <div class="qc-btn qc-btn-in anime-ease-3 qc-btn-hide guide-three" ng-class="{'qc-btn-c':data.job_type == 1}" ng-click="data.job_type = 1" clsname="qc-btn-show" time="200">
		 	<em>久坐行</em>
		 </div>
		 <div class="qc-btn qc-btn-in anime-ease-3 qc-btn-hide guide-three" ng-class="{'qc-btn-c':data.job_type == 2}" ng-click="data.job_type = 2" clsname="qc-btn-show" time="400">
		 	<em>站坐交替型</em>
		 </div>
		 <div class="qc-btn qc-btn-in anime-ease-3 qc-btn-hide guide-three" ng-class="{'qc-btn-c':data.job_type == 3}" ng-click="data.job_type = 3" clsname="qc-btn-show" time="600">
		 	<em>轻体力型</em>
		 </div>
		 <div class="qc-btn qc-btn-in anime-ease-3 qc-btn-hide guide-three" ng-class="{'qc-btn-c':data.job_type == 4}" ng-click="data.job_type = 4" clsname="qc-btn-show" time="800">
		 	<em>体力劳动型</em>
		 </div>
		 <div class="qc-btn qc-btn-in anime-ease-3 qc-btn-hide guide-three" ng-class="{'qc-btn-c':data.job_type == 5}" ng-click="data.job_type = 5" clsname="qc-btn-show" time="1000">
		 	<em>重体力型</em>
		 </div>
		<div class="f-s-16 hg-16 l-hg-16 c-1a f-w-bold mg-btm-20 mg-top-30 tc anime-ease-3 guide-three op-hide" clsname="op-show" time="1200">你的运动频次在</div>
		<div class="qc-btn qc-btn-in anime-ease-3 qc-btn-hide guide-three" ng-class="{'qc-btn-c':data.rate == 1}" ng-click="data.rate = 1" clsname="qc-btn-show" time="1400">
		 	<em>
		 		初级<span>每周0-1次</span>
		 	</em>
		</div>
		<div class="qc-btn qc-btn-in anime-ease-3 qc-btn-hide guide-three" ng-class="{'qc-btn-c':data.rate == 2}" ng-click="data.rate = 2" clsname="qc-btn-show" time="1600">
		 	<em>
		 		中级<span>每周2-3次</span>
		 	</em>
		</div>
		<div class="qc-btn qc-btn-in anime-ease-3 qc-btn-hide guide-three" ng-class="{'qc-btn-c':data.rate == 3}" ng-click="data.rate = 3" clsname="qc-btn-show" time="1800">
		 	<em>
		 		高级<span>每周>3次</span>
		 	</em>
		</div>
		<div class="f-s-16 hg-16 l-hg-16 c-1a f-w-bold mg-btm-20 mg-top-30 tc">你的健身目的</div>
		<div class="qc-btn qc-btn-in anime-ease-3 qc-btn-hide guide-three" ng-class="{'qc-btn-c':data.hope == '减肥减脂'}" ng-click="data.hope = '减肥减脂'" clsname="qc-btn-show" time="2000">
		 	<em>减肥减脂</em>
		</div>
		<div class="qc-btn qc-btn-in anime-ease-3 qc-btn-hide guide-three" ng-class="{'qc-btn-c':data.hope == '增肌塑形'}" ng-click="data.hope = '增肌塑形'" clsname="qc-btn-show" time="2200">
		 	<em>增肌塑形</em>
		</div>
	</ion-content>
	
	<ion-footer-bar class="guide-foot">
		<div class="guide-tab">
			<a class="guide-tab-prev fl" href="javascript:;" ng-click="back();keep()">上一步</a>
			<a class="guide-tab-next fl" href="javascript:;" ng-click="location('guide/guide-four');keep()">下一步</a>
		</div>
	</ion-footer-bar>

</ion-view>