<!--引导页2-->
<ion-view ng-init="setDocumentTitle('基本资料');pageName='guide-two'" hide-nav-bar="true">
	
	<ion-content class="guide-cont hx-pd" overflow-scroll="false" scrollbar-y="false" has-bouncing="true">
		<div class="hg-40 l-hg-40 mg-btm-30 mg-top-20">
		 	<!--<a href="javascript:;" class="fr f-s-12 c-54 hg-40 tc" style="width: 0.4rem;background-color: #F6F6F6;border-radius: 50%;">跳过</a>-->
		</div>
		<div class="guide-bar guide-bar-hide anime-ease-6 guide-two" clsname="guide-bar-show" time="400">
		 	<div class="guide-bar-top">
		 		<div class="guide-bar-txt">生日</div>
		 		<div class="guide-bar-num">{{dateShow}}</div>
		 	</div>
		 	<input type="date" class="ipt" ng-model="data.birthday" ng-change="showDate()" />
		 	<div class="guide-bar-bi"></div>
		</div>
		<div class="guide-bar guide-bar-hide anime-ease-6 guide-two" clsname="guide-bar-show" time="600">
		 	<div class="guide-bar-top">
		 		<div class="guide-bar-txt">身高</div>
		 		<div class="guide-bar-num font-arial" id="height"></div>
		 	</div>
		 	<div class="ruler-mode">
		 		<div class="ruler-drop"></div>
		 		<div class="ruler-cont">
		 			<ion-scroll class="ruler-scroll" delegate-handle="height" has-bouncing="true" scrollbar-x="false" direction="x" on-scroll="getPX('height','cm')">
		 				<div class="ruler-div"></div>
		 			</ion-scroll>
		 		</div>
		 	</div>
		</div>
		<div class="guide-bar guide-bar-hide anime-ease-6 guide-two" clsname="guide-bar-show" time="800">
		 	<div class="guide-bar-top">
		 		<div class="guide-bar-txt">体重</div>
		 		<div class="guide-bar-num font-arial" id="weight"></div>
		 	</div>
		 	<div class="ruler-mode">
		 		<div class="ruler-drop"></div>
		 		<div class="ruler-cont">
		 			<ion-scroll class="ruler-scroll" delegate-handle="weight" has-bouncing="true" scrollbar-x="false" direction="x" on-scroll="getPX('weight','kg')">
		 				<div class="ruler-div"></div>
		 			</ion-scroll>
		 		</div>
		 	</div>
		</div>
	</ion-content>

	<ion-footer-bar class="guide-foot">
		<div class="guide-tab">
			<a class="guide-tab-prev fl" href="javascript:;" ng-click="back();keep()">上一步</a>
			<a class="guide-tab-next fl" href="javascript:;" ng-click="location('guide/guide-three');keep()">下一步</a>
		</div>
	</ion-footer-bar>
	
</ion-view>